.first-chart {
  /* min-width: 350px; */
  min-width: 350px;
  max-height: 350px;
}
.second-chart {
  /* min-width: 350px; */
  min-width: 350px;
  max-height: 350px;
}

.container-pie {
  display: flex;
  /* flex-wrap: wrap; */
  /* border: 1px solid #ddd; */
  /* border-radius: 4px; */
  overflow: scroll;
  overflow-y: hidden;
}
.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0px;
  padding: 10px;
  background: #fff;
  
}